.selected-todo {
  padding: 2rem;
  background-color: var(--color-light);
  min-height: calc(100vh - 60px);
}

.selected-todo-wrapper {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.selected-todo h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.selected-todo p {
  color: var(--color-gray);
  margin-bottom: 1.5rem;
}

.selected-todo h4 {
  margin-bottom: 0.5rem;
  color: black;
}

.selected-todo textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 1rem;
}

.add-info-btn {
  background-color: var(--color-green);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.add-info-btn:hover {
  background-color: var(--color-green-darker);
}

.back-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.back-btn:hover {
  background-color: var(--color-red);
}
