.todo-container {
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(69, 181, 147);
}

.add-todo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-todo input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  margin-right: 10px;
}

.add-todo button {
  background-color: var(--color-green);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-todo button:hover {
  background-color: var(--color-green-darker);
}
